{
  "presets": [
    "flow",
    [
      "env",
      {
        "targets": {
          "node": 8
        }
      }
    ],
    "minify"
  ],
  "plugins": ["transform-class-properties", "transform-object-rest-spread"]
}
